.header_container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10%;
  border-radius: 10px;
}

.logo_image {
  width: 100px;
  height: auto;
}

.cart_button {
  height: 56px;
  overflow: hidden;
  width: 56px;
}

.cart_icon {
  left: -113px;
  position: absolute;
}

.header_container a {
  margin: 0 10px;
  font-weight: 400;
  font-size: 18px;
}

.header_container a:hover {
  color: #D14B8F;
}

.header_icons {
  display: flex;
  cursor: pointer;
  position: relative;
}

.header_icons_container {
  display: flex;
}

.cart_quantity {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 64.29%;
}

.cart_container {
  position: relative;
}