.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding: 50px 50px;
}

.button_return {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: medium;
  width: 40px;
  height: 60px;
  color: #C81A78;
}

.container_return {
  display: flex;
  align-items: center;
  width: 100%;
  color: #111111;
  color: #C81A78;
  padding: 0 20px;
}